spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/movie-booking-DB
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
     database-platform: org.hibernate.dialect.PostgreSQLDialect
     hibernate:
       ddl-auto: update
     show-sql: true


jwt:
   secret: aABCD123456@#$adaer@#@@s
   expiration: 3600000

